<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.covidapiservicemodule">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ClassApplication"
        tools:replace="android:name"
        >

    </application>

</manifest>